.home-nav{
    a{
        text-decoration: none;
        background-color: rgb(74, 88, 243);
        color: #fff;
        padding: 2px 5px;
        border-radius: 5px;
        margin-right: 5px;
    }
}