.home-nav{
    a{
        font-size: 14px;
        font-style: italic;
        font-weight: 500;        
        color: #a144eb;
        text-decoration:overline #292828;
        &:before {
            content: '>';
        }
    }
}