/* You can add global styles to this file, and also import other style files */
body{
    padding: 0;
    margin: 0;
}
.container{
    padding: 20px;
}
ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}
h1{
    color: #a144eb;
}
.back-to{
    ul{
        li{
            a{
                font-size: 12px;
                font-style: italic;
            }
        }
    }
}
